
.login{
    height: 100vh;//to fill the full
    background-color: rgb(108, 169, 244);//background color
    // background: linear-gradient(rgba(254, 252, 255, 0.582),rgba(19, 19, 19, 0.653)),url("")center;
    display: flex;//center the content
    align-items: center;
    justify-content: center;
  
  
    .card{
        display: flex;
        background-color: rgba(232, 237, 241, 0);
        width: 50%;//for the login and register winidow
        height: 500px;
        border-radius: 10px;
        min-height: 400px;//size of the register and login window
  
        .left{
            flex: 1;//to adjust the login and register section side by side
            background: linear-gradient(rgba(193, 190, 205, 0.349),rgba(122, 208, 107, 0.284)), url("https://images.pexels.com/photos/3894157/pexels-photo-3894157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")center;//background image of login and linear-background to give a gradient color over the image
          // background: linear-gradient(rgba(122, 89, 223, 0.349),rgba(122, 208, 107, 0.284));
            background-size: cover;//to adjust the image zoom
            padding: 35px;
            display: flex;//align the components vertically
            flex-direction: column;//to arrange the elements in column(verticcal)
            gap: 30px;
            border-radius: 90px 0px 0px 0px;
            color: white;
            h1{
                font-size: 40px;
                line-height: 35px;
            }
            p{
  
            }
            span{
                color: rgb(43, 42, 42);
                font-weight: bold;
                font-size: 12px;
            }
            button{
                width: 80px;
                background: linear-gradient(rgb(202, 186, 186),rgba(42, 105, 193, 0.747));
                // height: 30px;
                padding: 10px;
                border-radius: 9px;
                border: none;
                color: #7f2bc99a;
                font-weight: bold;
                cursor: pointer;
                
            }
        }
  
        .right{
            flex: 1;//to adjust the login and register section side by side
            padding: 50px;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 90px 0px;
            gap: 40px;
            justify-content: center;
            background: linear-gradient(rgba(27, 164, 255, 0.349),rgba(122, 208, 107, 0.284));
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    width: 220px;
                    border-radius: 9px;
  
                }
                button{
                    width: 50%;
                    background: linear-gradient(rgba(50, 205, 73, 0.574),rgba(13, 101, 64, 0.653));
                    padding: 10px;
                    border: none;
                    border-radius: 9px;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
  }